@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --background:#050816;
    --primary:#00e5ff;
    --secondary:#8b5cf6;
}


*{
    box-sizing:border-box;
}


body{

    margin:0;

    background:
    radial-gradient(
        circle at top,
        #111827,
        #050816
    );

    color:white;

    font-family:
    Arial,
    Helvetica,
    sans-serif;

}


::-webkit-scrollbar{

    width:8px;

}


::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:10px;

  }
